<a href="#maincontent" class="skip-link" data-translate="text">SkipToMain</a>

<soho-icons *ngIf="!useNewIcons"></soho-icons>
<soho-icons-new *ngIf="useNewIcons"></soho-icons-new>

<soho-icons-empty *ngIf="!useNewIcons"></soho-icons-empty>
<soho-icons-empty-new *ngIf="useNewIcons"></soho-icons-empty-new>

<soho-module-nav-container
  #moduleNavContainer
  [ngClass]="{ 'module-nav-container': true }"
>
  <soho-module-nav
    #moduleNav
    [ngClass]="{ 'module-nav': true }"
    [accordionSettings]="{ rerouteOnLinkClick: false }"
    [displayMode]="this.model.displayMode"
    [filterable]="true"
    [pinSections]="true"
  >
    <div class="module-nav-bar">
      <div class="column" style="display: flex; justify-content: right">
        <button
          style="height: 50px; width: 50px"
          soho-toolbar-flex-nav-button
          (click)="toggleModuleNavDisplayMode($event)"
        >
          Show Navigation
        </button>
      </div>
      <div class="column"></div>
      <div *ngIf="this.model.displayMode === 'expanded'" class="field">
        <h2 style="font-size: 30px; margin-left: 14px">Grano Cafe</h2>
      </div>
      <soho-accordion
        [allowOnePane]="true"
        [hasPanels]="true"
        [moduleNav]="true"
        [rerouteOnLinkClick]="false"
      >
        <!-- <div class="module-nav-search-container accordion-section">
          <label for="module-nav-searchfield" class="audible">Search</label>
          <input soho-searchfield id="module-nav-searchfield" name="module-nav-searchfield" placeholder="Search"
            [ngClass]="{
              'searchfield': true,
              'module-nav-search': true
            }" />
        </div> -->
        <div
          class="module-nav-main accordion-section"
          style="display: grid; padding: 12px"
        >
          <div class="accordion-header">
            <svg
              class="icon"
              focusable="false"
              aria-hidden="true"
              role="presentation"
            >
              <image href="../assets/check1.png" width="16" height="20"></image>
            </svg>
            <a [routerLink]="['sell']"
              ><span style="font-size: 20px">Checkout</span></a
            >
          </div>

          <div class="accordion-header">
            <svg
              class="icon"
              focusable="false"
              aria-hidden="true"
              role="presentation"
            >
              <image href="../assets/orders.png" width="16" height="20"></image>
            </svg>
            <a href="#"><span style="font-size: 20px">Orders</span></a>
          </div>

          <div class="accordion-header">
            <svg
              class="icon"
              focusable="false"
              aria-hidden="true"
              role="presentation"
            >
              <image href="../assets/menu.png" width="18" height="20"></image>
            </svg>
            <a href="#"><span style="font-size: 20px">Products</span></a>
          </div>
          <div class="accordion-header">
            <svg
              class="icon"
              focusable="false"
              aria-hidden="true"
              role="presentation"
            >
              <image href="../assets/cart.png" width="16" height="20"></image>
            </svg>
            <a href="#"><span style="font-size: 20px">Online Catalog</span></a>
          </div>

          <div class="accordion-header">
            <svg
              class="icon"
              focusable="false"
              aria-hidden="true"
              role="presentation"
            >
              <image href="../assets/user.png" width="16" height="20"></image>
            </svg>
            <a href="#"><span style="font-size: 20px">Customers</span></a>
          </div>

          <div class="accordion-header">
            <svg
              class="icon"
              focusable="false"
              aria-hidden="true"
              role="presentation"
            >
              <image href="../assets/dollar.png" width="16" height="20"></image>
            </svg>
            <a href="#"><span style="font-size: 20px">Transactions</span></a>
          </div>

          <div class="accordion-header">
            <svg
              class="icon"
              focusable="false"
              aria-hidden="true"
              role="presentation"
            >
              <image
                href="../assets/analytics.png"
                width="16"
                height="20"
              ></image>
            </svg>
            <a href="#"><span style="font-size: 20px">Analytics</span></a>
          </div>

          <div class="accordion-header">
            <svg
              class="icon"
              focusable="false"
              aria-hidden="true"
              role="presentation"
            >
              <image href="../assets/users.png" width="16" height="20"></image>
            </svg>
            <a href="#"><span style="font-size: 20px">Users</span></a>
          </div>

          <div class="accordion-header">
            <svg
              class="icon"
              focusable="false"
              aria-hidden="true"
              role="presentation"
            >
              <image
                href="../assets/settings.png"
                width="16"
                height="20"
              ></image>
            </svg>
            <a href="#"><span style="font-size: 20px">Settings</span></a>
          </div>

          <div class="accordion-header">
            <svg
              class="icon"
              focusable="false"
              aria-hidden="true"
              role="presentation"
            >
              <image
                href="../assets/support.png"
                width="16"
                height="20"
              ></image>
            </svg>
            <a href="#"><span style="font-size: 20px">Help</span></a>
          </div>
        </div>
      </soho-accordion>
    </div>
    <div class="module-nav-detail"></div>
  </soho-module-nav>
  <div class="page-container no-scroll has-module-nav-offset">
   
  </div>
</soho-module-nav-container>

<demoapp-nav-container>
  <app-header
    (appMenuTriggerClick)="toggleModuleNavDisplayMode($event)"
  ></app-header>
  <div id="maincontent" class="page-container scrollable" role="main">
    <router-outlet></router-outlet>
  </div>
</demoapp-nav-container>
