<div class="row main">
  <div class="two-thirds column">
    <h2 class="heading">Sell</h2>
    <div
      soho-blockgrid
      soho-busyindicator
      [activated]="true"
      displayDelay="0"
      class="block"
      [selectable]="'multiple'"
    >
      <ng-container *ngFor="let item of productList; let i = index">
        <div
          class="block item is-selectable card"
          role="listitem"
          tabindex="0"
          attr.idx="{{ i }}"
        >
          <input
            type="checkbox"
            aria-hidden="true"
            tabindex="0"
            role="presentation"
            class="checkbox"
            id="checkbox{{ i }}"
            attr.idx="{{ i }}"
          />
          <label for="checkbox{{ i }}" class="checkbox-label">
            <span class="audible">Select</span>
          </label>
          <img
            height="200px"
            width="220px"
            src="{{ item.image }}"
            alt="placeholder-image"
          />
          <div style="padding: 4px" [align]="'left'">
            <span style="font-weight: bold" class="title">{{
              item.title | truncate
            }}</span>
            <br /><br />
            <span class="sub-title">{{ item.price | currency }}</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="one-third column cart">
    <div class="ex">
      <div class="cart-in">
        <img
          class="empty-cart"
          src="../../assets/empty-cart.png"
          alt="empty-cart"
        />
        <div class="empty-message">
          <h2 id="cart-msg1">Your cart is empty.</h2>
          <br />
          <h5 id="cart-msg2">
            Click on the products to add them <br />
            to the sale.
          </h5>
        </div>
      </div>
      <div class="buttons">
        <button id="del-btn">
          <img id="del-img" src="../../assets/delete.png" alt="delete" />
        </button>
        <button id="pay-btn" soho-button="primary">Go to payment</button>
      </div>
    </div>
  </div>
</div>
