.heading {
  font-size: 60px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 16px;
  font-weight: bold;
  margin: 8px 0px;
}

.main {
  margin-top: 16px;
  padding: 12px 2px;
}

.item {
  margin: 2px;
}

.cart {
  height: 95vh;
  position: fixed;
  right: 100px;
  border: 1px solid rgba(0, 0, 0, 0.126);
  border-radius: 24px;
  padding: 8px;
}

.empty-cart {
  height: 240px;
  width: auto;
}

.ex {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cart-in {
  position: relative;
}

.empty-message {
  margin-top: 8px;
}

#cart-msg1 {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

#cart-msg2 {
  font-size: 18px;
}

.buttons {
  position: absolute;
  bottom: 0;
  padding: 6px 12px;
  width: 90%;
  height: 60px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#pay-btn {
  width: 80%;
}

#del-btn {
  width: 20%;
  border-radius: 8px;
  background-color: darkgrey;
}



.cart-item {
  width: 100%;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text > #head {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.one {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 24px;
}

.quantity {
  margin: 0px 16px;
}

.quantity-price {
  display: flex;
  justify-content: space-between;
  margin: 0px 14px;
  width: 90%;
  align-items: center;
  padding: 4px 8px;
}
.total {
  margin: 8px 14px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}
.listing {
  height: 80%;
  align-content: end;
  margin: 8px;
}
